.sq2{
  width: 1226px;
  margin-left: auto;
  margin-right: auto;
}
#nav-stlr{
  margin: 0;
  top: 0;
  display: inline-block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  width:100%;
  background: #333333;
}
#nav-stlr a{
color: gray;
text-decoration: none;
}
.login{
  margin-left: 460px;
}
.shopcart-st{
  display: inline-block;
  /* margin-top: 15px; */
}
.logal{
  display: inline-block;
}
.logal-lr{
  width: 55px;
  height: 55px;
  position: relative;
  display: block;
  background-color: #ff6700;
  margin-top: 10px;
}
ul li{
  list-style: none;
}
#nav2-st{
  height: 420px;
  border: 0;


}
.nav-st{
  display:inline-block;
  font-size: 16px;
  word-spacing: 20px;
  margin-left: 170px;
}


