.sq{
  width: 1226px;
  margin-left: auto;
  margin-right: auto;
}
#nav-stlr{
  margin: 0;
  top: 0;
  display: inline-block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  width:100%;
  background-color: black
}
#nav-stlr a{
color: gray;
text-decoration: none;
}
.login{
  margin-left: 100px;
}
.shopcart-st{
  display: inline-block;
  /* margin-top: 15px; */
}
.logal{
  display: inline-block;
}
.logal-lr{
  width: 55px;
  height: 55px;
  position: relative;
  display: block;
  background-color: #ff6700;
  margin-top: 10px;
}
.nav-st{
  display:inline-block;
  padding: 26px 200px 38px;
  font-size: 16px;


}


